# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log
# Ignore compiled files

grocery.csv/
student_exam_scores.csv/
test.csv/
merged_data.csv/
merged_data_1.csv/
grocery.csv/

